.feed {
    flex : 0.5;
    border-right : 1px solid var(--app-color);
    min-width : fit-content;
    overflow-y: scroll;
    padding: 5px;
    padding-top: 0px !important;
    display : block;
    
}

.feed_header > img{
    border-radius: 100%;
    height : 50px !important;
    width : 50px !important;
    
}

.feed_header {
    display : flex;
    align-items: center;
    margin-top: 5px;
    border-bottom: 1px solid var(--app-color);
    background-color: var(--app-bg-color);
    border-radius: 50px;
}

.feed_header > h1 {
    margin : 10px 5px;
}

.option>button{
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    color: white;
    background-color: var(--app-color);
    height : 30px ;
    border : 2px solid var(--app-color);
    width: 50% ;
}

.option{
    align-items: center;
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid var(--app-color);
}