.feed {
    flex : 0.5;
    border-right : 1px solid var(--app-color);
    min-width : 710px;
    padding: 5px 5px ;
    display : block;
    overflow-y: scroll;
}

.feed_header > img{
    border-radius: 100%;
    margin : 10px 2px;
    height : 40px !important;
    width : 40px !important;
    
}

.feed_header {
    display : flex;
    align-items: center;
    margin-top: 5px;
    background-color: var(--app-bg-color);
    border-radius: 50px;
    border-bottom:2px solid var(--app-color) ;
    border-right:2px solid var(--app-color) ;
}

.feed_header > h3 {
    margin : 5px 5px;
}

.option>button.input{
    text-align: center !important;
    margin: 10px !important;
    border-radius: 30px !important;
    color: white !important;
    background-color: var(--app-color) !important;
    height : 30px !important;
    border : 2px solid var(--app-color) !important;
    width: 50% !important;
}

.option{
    align-items: center;
    display: flex;
    padding: 5px 10px;
    background-color: var(--app-bg-color);
    border-radius: 50px;
    margin: 10px 0px;
    border-bottom: 2px solid var(--app-color);
    border-right: 2px solid var(--app-color);
    
}