
.Menu{
    display : block;
    overflow-y: scroll;
}

.discription{
    color : rgb(94, 89, 89);
    padding: 5px 0px;
}



.Table{
    width: 100%;
    border-collapse: collapse;
    
}

.table_head{
    height : 50px;
    background-color: var(--app-color);
    color: #ffffff;
    text-align: center;
    position: sticky;
}

tr{
    display: table-row;
    border-bottom: 1px solid var(--app-color);
}

tbody>tr{
    background-color: #ffffff;
}
tbody>tr:hover{
    background-color:var(--app-bg-color);
}

.table_head>td{
    width : 22%;
}

.input{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: inherit;
    border-radius: 25px;
    font-size: 15px;
    padding-left: 10px;
    border: none;
}
.AddMenu{
    padding: 10px;
    background-color: var(--app-bg-color);
    border-bottom: 2px solid var(--app-color);
    border-right: 2px solid var(--app-color);
    border-radius: 20px;
    margin : 5px 0px;
    margin-bottom: 10px;
    position: sticky;
}

.AddMenu >form>div>button.input{
    border-color: var(--app-color) !important;
    background-color: var(--app-color) !important;
    color: white;
    border-radius: 25px !important;
}
.AddMenu>span{
    margin : 0px 5px;
}
.AddMenu>form > .input{
    background-color: #ffffff !important;
    margin: 3px;
}

button.input{
    text-align: center;
    border-radius: 5px !important;
    height : 30px !important;
    margin: 4px;
    background-color:red;
    width: 80px !important;
    color: white;
    transition: color 100ms ease-out;
}

